{% extends "_base.html" %}

{% block title %}{{ condition.condition }}{% endblock %}

{% block content %}
	<h3>{{ condition.condition }}</h3>

  {% if condition.severity %}
    <p>severity: {{ condition.severity }}</p>
  {% endif %}

  <p>Medication:</p>
  {% if condition.medicines.exists %}
    {% for med in condition.medicines.all %}
    	<p>{{ med }} <small><a href="{% url 'medicine_delete' condition.pk med %}">Delete this medicine?</a></small></p>
    {% endfor %}
  {% else %}
    <p>No medication for this condition</p>
  {% endif %}

  {% if condition.descriptions %}
    <p>Descriptions:</p>
    {% for des in condition.descriptions.all %}
      <p>{{ des.description }}</p>
    {% endfor %}
  {% endif %}

  <p>
    <a href="{% url 'condition_update' condition.pk %}">Edit</a> |
    <a href="{% url 'condition_delete' condition.pk %}">Delete</a>
  </p>
{% endblock %}
