{% extends "_base.html" %}

{% block title %}{{ condition.condition }}{% endblock %}

{% block content %}
	<h3>{{ condition.condition }}</h3>

  <p>{{ condition.patient.username }}</p>
  <p>{{ condition.condition }}</p>
  {% if condition.severity %}
    <p>{{ condition.severity }}</p>
  {% endif %}

  {% if condition.medicines.exists %}
    {{ condition.medicines.all }}
  {% endif %}

  {% if condition.descriptions %}
      {% for des in condition.descriptions.all %}
      	<p>{{ des.description }}</p>
      {% endfor %}
  {% endif %}
{% endblock %}