{% extends '_base.html' %}

{% block title %}profile{% endblock %}

{% block content %}
	<h2>your profile</h2>

  <p>name: {{ conditions.patient.username }}</p>
  <p>age: {{ conditions.patient.age }}</p>

  {% for condition in conditions %}
  	<p><a href="{{ condition.get_absolute_url }}">{{ condition.condition }}</a></p>

    {% if condition.severity %}
      <p>severity: {{ condition.severity }}</p>
    {% endif %}

    <p>Medication:</p>
    {% if condition.medicines.exists %}
      {{ condition.medicines.all }}
    {% else %}
      <p>No medication for this condition</p>
    {% endif %}

    {% if condition.descriptions %}
      <p>Descriptions:</p>
      {% for des in condition.descriptions.all %}
      	<p>{{ des.description }}</p>
      {% endfor %}
    {% endif %}

    <hr>
  {% endfor %}

{% endblock %}
